:root {
  --primary-color: #1388e8;
  --name-font: 'Source Sans 3', sans-serif;
  --primary-font: 'Inter', sans-serif;
}



body {}

.icon {
  padding: 0 8px 0 5px;
}

.header {
  padding: 1em;
  background-color: #f0f0f0;
}

.name {
  color: var(--primary-color);
}

.surname {
  margin-left: 10px;
  font-size: 35px;
  font-family: var(--primary-font);
  font-weight: extra-light;
}

.first-name {
  font-size: 35px;
  font-family: var(--bs-font-monospace);
  font-weight: bold;
  font-stretch: condensed;
}

.label {
  font-size: small;
  font-weight: lighter;
  font-family: var(--bs-font-monospace);
}

.link {
  font-size: 13px;
  vertical-align: bottom;
  text-decoration-line: none;
  color: black;
  padding: 0 20px 0 0px;
}

.badge {
  background-color: lighten(var(--primary-color), 50%);
}