:root {
  --primary-color: #1388e8;
  --name-font: 'Source Sans 3', sans-serif;
  --primary-font: 'Inter', sans-serif;
}



body {}

.icon {
  padding: 0 8px 0 5px;
}

.row>* {
  min-width: 350px;
}

.header {
  padding: 2em;
  background-color: color-mix(in srgb, black 8%, white);
}

.name {
  color: var(--primary-color);
}

.surname {
  margin-left: 10px;
  font-size: 35px;
  font-family: var(--primary-font);
  font-weight: extra-light;
}

.first-name {
  font-size: 35px;
  font-family: var(--bs-font-monospace);
  font-weight: bold;
  font-stretch: condensed;
}

.label {
  font-size: small;
  font-weight: lighter;
  font-family: var(--bs-font-monospace);
}

.link {
  font-size: 13px;
  vertical-align: bottom;
  text-decoration-line: none;
  color: black;
  padding: 0 20px 0 0px;
}

.content {
  padding: 2em;
  background-color: color-mix(in srgb, black 2%, white);
  display: flex;
}

.section-title {
  font-variant: small-caps;
  color: #1388e8;
}

.sub-section-title {
  font-variant: small-caps;
  color: #636363;
}

.descript {
  font-variant: small-caps;
  font-size: 16px;
  color: #868686;
}

li::marker {
  content: '»';
  font-size: 1.5em;
}

li {
  padding-inline-start: 10px;
}

.badge {
  background-color: color-mix(in srgb, var(--primary-color) 80%, white);
  border-radius: 4pc;
  margin: 7px 0 0 1em;
}